

# Ignore everything
*

# Then explicitly allow only what's needed
!main.py
!requirements.txt
!dev-requirements.txt

# Ensure these are always ignored
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/*.so
**/*.dylib
**/*.dll